BOT_PROFILE=real-vtmarket-26575165
MT5_PATH=D:\Project\Copter01_AI_Bot_2\profiles\real\real-vtmarket-26575165\mt5\terminal64.exe
MT5_PORTABLE=true
MT5_LOGIN=26575165
MT5_PASSWORD=change_me
MT5_SERVER=VTMarkets-Live 3
MT5_TIMEOUT_MS=120000
SYMBOL=XAUUSD
SYMBOL_CANDIDATES=XAUUSD-VIPc,XAUUSD,BTCUSD.c,BTCUSD-VIPc,BTCUSD
MAGIC_NUMBER=234201
MY_USER_ID=8666020453
TELEGRAM_TOKEN=change_me
