BOT_PROFILE=demo-iux-2101114448
MT5_PATH=D:\Project\Copter01_AI_Bot_2\profiles\demo\demo-iux-2101114448\mt5\terminal64.exe
MT5_PORTABLE=true
MT5_LOGIN=2101114448
MT5_PASSWORD=change_me
MT5_SERVER=IUXMarkets-Demo
MT5_TIMEOUT_MS=120000
SYMBOL=XAUUSD
SYMBOL_CANDIDATES=XAUUSD.iux,XAUUSD,BTCUSD.iux,BTCUSD
MAGIC_NUMBER=234101
MY_USER_ID=8666020453
TELEGRAM_TOKEN=change_me
